@{
    ViewBag.Title = "About OreFun";
}
<h2>@ViewBag.Title.</h2>


<p>
    OreFun is a new comer to the way of moving people by train.  We have only been around for 10 years,
    although we are no newbies to customer service.  We pride ourselves on delivering each and every train
    to its destination on time, every time.  The tracks that OreFun uses are all of the original lines
    that have been around since the turn of the century.  In addition, all of the locomotives and
    passenger cars that OreFun places into service are only of the highest quality and have all of the
    newest luxuries and ammenities.

    Come ride and see why people are talking about OreFun!
</p>
