@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OreFun 2014 Train Schedule</h1>
    <p class="lead">Orefun is a dynamic midsize railway system that connects most of the central arteries of Oregon together.</p>
    <p><a href="http://localhost:60752/Home/RouteMap" class="btn btn-primary btn-lg">See a system map &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What cities are covered by OreFun?</h2>
        <p>
            OreFun covers most of the central Willamette Valley and connects to the coast, southern, and central Oregon.
            Tracks stretch from Portland to Grants Pass, and Bend to Coos Bay.  If you need to get somewhere, chances are
            we can get you there.
        </p>
        <p><a class="btn btn-default" href="http://localhost:60752/Station">Station Locations &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Booking a route plan is as easy as 1, 2, 3.  Booking a train has never been easier than with our fully automated
            sign in system.  Click below to find out just how easy it is!
        </p>
        <p><a class="btn btn-default" href="http://localhost:60752/Ticket/Create">Book here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What exactly is OreFun all about?</h2>
        <p>
            OreFun is a realatively new company, but the tracks that it runs on have been around for years.  Click here to learn more
            about OreFun and the history of the track system.
        </p>
        <p><a class="btn btn-default" href="http://localhost:60752/Home/About">All About! &raquo;</a></p>
    </div>
</div>